<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%=datas.split(",")%></p>
    <ul>
    	<% for(var i=0;datas.replace("[","").replace("]","").split(",").length>i;i++){ %>
    		<li>
    			<%= datas.replace("[","").replace("]","").split(",")[i]%>
    		</li>
    	<%}%>
    </ul>
  </body>
</html>